/* mobile view */

@media  screen and (max-width: 578px) {
    .nav-container {
        flex-direction: column;
        margin: 1em auto;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .nav-right, .nav-left {
        width: auto;
        margin: 0;
    }
    .nav-left {
        justify-content: center;
    }
    .nav-right > ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
    }

    /* banner  */
    .banner-left {
        flex-direction: column;
        align-items: flex-start;
    }

    /* videos items  */
    .videos-items {
        flex-direction: column;
    }

    .videos-items img {
        width: 100%;
    }
    .video-text {
        width: 100%;
    }

    /* play section */
    .play-container {
        /* display: flex; */
        flex-direction: column;
        
    }
    
    .play-content {
        align-items: flex-start;
        justify-content: flex-start;
        
    }
    .play-title {
        margin: 0;
        padding: 0;
    }
    #man {
        width: 80vw;
        /* height: 0vh; */
    }
    
    #cat {
        width: 40vw;
        /* height: 21rem; */
        position: relative;
        left: 40vw;
        bottom: 23vh;
    }

    .play-text {
        width: 70vw;
    }
}


/* tablet view  */

@media  screen and (max-width: 992px) {
    /* nav responsiveness */
    .nav-container {
        flex-direction: column;
        margin: 1em auto;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .nav-right, .nav-left {
        width: auto;
        margin: 0;
    }
    .nav-left {
        justify-content: center;
    }
    .nav-right > ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1em auto;
    }

    /* banner responsiveness */
    .banner-container {
        flex-direction: column-reverse;
        gap: 10rem;
    }
    .banner-left, .banner-right {
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    /* videos items  */
    .videos-items {
        flex-direction: column;
        gap: 48px;
    }
    .videos-items img {
        width: 80vw;
    }
    .video-text {
        width: 80vw;
    }

    /* play section */
    .play-container {
        /* display: flex; */
        flex-direction: column;
        
    }
    
    .play-content {
        align-items: flex-start;
        justify-content: center;
    }

    #man {
        width: 80vw;
        /* height: 0vh; */
    }
    
    #cat {
        width: 40vw;
        /* height: 21rem; */
        position: relative;
        left: 40vw;
        bottom: 23vh;
    }

    .play-text {
        width: 70vw;
    }
}

/* laptop view  */

@media screen and (max-width: 1440px) {
    .banner-container {
        margin: 6rem auto;
    }

    /* videos items  */
    .videos-items {
        flex-wrap: wrap;
        align-items: center;
    }
    
    .videos-items img {
        width: 100%;
    }

    /* play section */  

    .play-content {
        align-items: center;
        justify-content: center;
        margin-bottom: 30vh;
        margin-left: 10vw;
    }
}